*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  width:100%;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  box-shadow: 0 0 10px #089da1;
  background-color: #fff;
  position: fixed;
  
 
  left: 0;
  z-index: 90;
  
}


section nav .logo img{
  width: 120px;
  cursor: pointer;
  margin: 5px 0;
}
section nav ul{
  list-style: none;
  
}

section nav li{
  display: inline-block;
  padding: 0 10px;
  
}
section nav li a{
  text-decoration: none;
  color: #000;
 
}

section nav li a:hover{
  color: #089da1;
}

section nav .icons i{
  margin: 0 5px;
  font-size: 18px;
}

section nav .icons i:hover{
  color: #089da1;
  cursor: pointer;
}
section nav .icons div{
  margin: 0 5px;
  font-size: 18px;
}
section nav .icons  div:hover{
  color: #089da1;
  cursor: pointer;
}
/*menu nav bar style starts*/
#toggle-menu {
display: inline-block;
margin: 10px;
padding: 10px;
border: none;
cursor: pointer;
background-color: #f1f1f1;
}

#toggle-menu span {
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
background-color: #333;
transition: all 0.3s ease-in-out;
}

#toggle-menu.active span:nth-of-type(1) {
transform: translateY(7px) rotate(45deg);
}
#toggle-menu.active span:nth-of-type(2) {
opacity: 0;
}

#toggle-menu.active span:nth-of-type(3) {
transform: translateY(-7px) rotate(-45deg);
}

nav ul {
display: none;
}

nav ul.show {
display: block;
}
/*menu nav bar style ends*/



section .fristsec{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 20%;
}
section .fristsec h1{
  position: relative;
  font-size: 55px;
  top: 50px;
  left: 25px;
}

section .fristsec h1 span{
  color: #089da1;
}
section .fristsec p{
  width: 650px;
  text-align: justify;
  line-height: 20px;
  position: relative;
  top: 150px;
  left: 25px;
}

section .fristsec .fristsec_tag .fristsec_btn{
  background: #089da1;
  padding: 10px 20px;
  position: relative;
  top: 180px;
  left: 25px;
  color: #fff;
  text-decoration: none;
}

section .fristsec .fristsec_img img{
  width: 650px;
  position: relative;
  top: 1px;
  left: 10px;
}
:root{
--blue:#089da1;
--dark-color:#219150;
--black:#444;
--light-color:#666;
--border:.1rem solid rgba(0,0,0,.1);
--outline:.1rem solid rgba(0,0,0,.1);
--border-hover:.1rem solid var(--black);
--box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

}
/*starts the slider in home*/
section .fristsec .fristsec_img img {
width: 100%;
height: auto;
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

section .fristsec .fristsec_img img.active {
opacity: 1;
}
.fristsec_img {
width: 100%;
height: 500px;
display: flex;
overflow: hidden;
position: relative;
}
/*ends the slider in home*/



/*login style starts*/
.login_form
{
display: flex;
align-items: center;
justify-content: center;
background:rgba(255,255,255,.9);
background-size: cover;
position: fixed;
top:0;right :-105%;
z-index: 10000;
height:100%;
width:100%;

}
.login_form.active{
right:0;
}
.btn{
margin-top :.5rem;
display:inline-block;
padding:.9rem 3rem;
border-radius :.7rem;
color :#fff;
background:#089da1;
border-color:#089da1;
font-size:1.2rem;
cursor:pointer;
font-weight:200;	
}
.btn:hover{
background: #089da1;
}

.login_form form
{
background: #fff;
border:var(--border);
width:35rem;
padding:2rem;
box-shadow:2.5px 2.5px 2.5px 2.5px #089da1;
border-radius: .5rem;
margin:1rem;
height:29rem;


}
.login_form form h3
{
font-size:1.5rem;
text-transform:uppercase;
color:var(--black);
text-align:center;

}
.login_form form span
{
display:block;
font-size:1.2rem;
padding-top:.8rem;
}
.login_form form .box
{
width:100%;
margin:.5rem 0;
font-size:1rem;
border:var(--border);
border-radius:.5rem;
padding:1rem 1.2rem;
color:var(--black);
text-transform:none;

}
.login_form form .checkbox
{
display: flex;
align-items: center;
gap: .5rem;
padding:1rem 0;

}
.login_form form .checkbox labl
{
font-size:.8rem;
color :var(--light-color);
cursor:pointer;
}
.login_form form .btn{
text-align:center ;
width:100%;
  margin:.2rem 0;

}
.login_form form p{
padding-top:.8rem;
color:var(--light-color);
font-size:1rem;
}
.login_form form p a{
color:#088f;
text-decoration:underline;

}

.login_form #close-login-btn{
position:absolute;
top:1.5rem;
right:2.5rem;
font-size:1.8rem;
color:#000;
cursor:pointer;
}
/*login style ends*/



/**************cart*******/
.cart{
	position: fixed;
	top:0;
	right :-100%;
	width:360px;
	min-height:100hv;
	padding:20px;
	background: #fff;
	box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
	transition:0.3s;
}
.cart.active{
	right: 0;
	
}
.cart-title{
	text-align:center;
	font-size:1.5rem;
	font-weight:600;
	margin-top:2rem;
	color :#000;
}
.cart-box{
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap:1rem;
	margin-top: 1rem;
}
.cart-img{
	width:100px;
	height:100px;
	object-fit:contain;
	padding:10px;
}
.detail-box{
	display:grid;
	row-gap: .5rem;
}
.cart-product-title
{
	font-size:1 rem ;
	text-transform:uppercase;
	color : var(--black);
}
.cart-price{
	font-weight:500;
	color : var(--black);
}
.cart-quantity{
	border: 1px solid var(--black);
	outline-color: var(--black);
	width:2.4rem;
	text-align:center;
	font-size:1rem;
	
}
#cart-remove
{
	font-size: 15px;
	color: var(--black);
	cursor:pointer;
}
.total{
	display: flex;
	justify-content:flex-end;
	margin-top:1.5rem;
	border-top:1px solid var(--black);
}
.total-title{
	font-size:1rem;
	font-weight:600;
	color : var(--black);
}
.total-price{
	margin-left:0.5rem;
	color : var(--black);
}
.btn-buy{
	display :flex;
	margin:1rem auto 0 auto;
	padding:8px 15px;
	border:none;
	background:var(--blue);
	color:#fff;
	font-size:.8rem;
	font-weight:500;
	cursor:pointer;
	
}
.btn-buy:hover{
	background: #fff;
	color: #000;
}
#close-cart{
	position:absolute;
	top:1rem;
	right:0.8rem;
	font-size: 1rem;
	color : var(--black);
	cursor:pointer;
}


/*start style the services*/
.services{
width: 100%;
height: auto;
margin: 35px 0;
}

.services .services_box{
width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}

.services .services_box .services_card{
text-align: center;
width: 310px;
height: auto;
box-shadow: 0 0 8px #089da1;
padding: 15px 10px;
}

.services .services_box .services_card i{
color: #089da1;
font-size: 45px;
margin-bottom: 15px;
cursor: pointer;
}

.services .services_box .services_card h3{
margin-bottom: 10px;
}
/*end style the services*/


/* start style feature section */

.heading {
	
	text-align :center;
	padding :2rem 0;
	padding-bottom:3rem;
	font-size:2rem;
	color:var(--black);
}
.heading span{
	background:#089da1;
	color:#fff;
	padding :.5rem 1.2rem;
	display:inline-block;
	clip-path:polygon(100% 0%,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%)
}
.features .box_container{
	border :0px solid;
	display :grid;
	grid-template-columns:repeat(auto-fit,minmax(20rem, 2fr));
	gap:1rem;
	
}
.features .box_container  .box{
	border:0px solid red  ;
	padding:1.5rem 1rem;
	background:#fff;
    outline:var(--outline);
	outline-offset:-1rem;
	text-align:center;
	box-shadow:var(--box-shadow);

}
.features .box_container  .box:hover{
	box-shadow:1px 1px 10px 4px var(--blue);
}
.features .box_container  .box img
{
	
	margin: .2rem 0;
	height:15rem;
}
.features .box_container  .box h3
{
	font-size:1.2rem;
	line-height:1.8;
	color :var(--black);
}
.features .box_container  .box p
{
	font-size:.9rem;
	line-height:1.8;
	color :var(--light-color);
	padding-bottom:.5rem 0;
}
.features .box_container  .box a{
	color: var(--black);
    font-size:.9rem;
    padding: 1rem 1rem;
	 margin:.8rem 0 ;
	border-radius :.1rem;
	background:var(--blue);
	color :#fff;
	cursor:pointer;
	box-shadow:var(--box-shadow);
}
.features .box_container  .box a:hover{
	background: #fff;
    color :var(--black);
	
}
.features .box_container .box .price span{
	font-size: 1rem;
    color: var(--light-color);
    text-decoration: line-through;

}
.features .box_container  .box.price
{
	font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}









/*deal*/

.deal {
	background: #f3f3f3;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 470px;
	}
	
	.deal .content {
	flex: 1 1 42rem;
	padding-right: 2rem; /* Add some space between the text and image */
	}
	
	.deal .img-deal {
	flex: 1 1 42rem;
	display: flex; /* Add display flex to position the image */
	justify-content: center; /* Align the image to the right */
	top: 50px;
	
	}
	
	.deal .img-deal img {
	width: 40%; /* Decrease image width to fit better */
	
	}
	
	.deal .content h3 {
	color: #089da1;
	font-size: 3.5rem;
	padding-bottom: .5rem;
	}
	
	.deal .content h1 {
	color: black;
	font-size: 4rem;
	}
	
	.deal .content p {
	font-size: 1.2rem; /* Increase font size */
	line-height: 1.5; /* Add some spacing between lines */
	margin-top: 1.5rem; /* Add some space between the title and text */
	}
	
	.deal .content .btn-d {
	display: inline-block;
	background-color: #089da1;
	color: #fff;
	padding: 1rem 2rem;
	margin-top: 1.5rem; /* Add some space between text and button */
	text-decoration: none;
	font-size: 1.2rem;
	transition: background-color 0.2s ease-in-out;
	}
	
	.deal .content .btn-d:hover {
	background-color: #008c92;
	}
	

/*arrivals*/

.arr {
	background: #f3f3f3;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 670px;
	}
.arrivals_books{
	width: 100%;
	height: 100vh;
	padding: 70px 0;
	}
	
	.arrivals_books h1{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	font-size: 45px;
	}

	.arrivals_books h1 span{
		background:#089da1;
		color:#fff;
		padding :.5rem 1.2rem;
		display:inline-block;
		clip-path:polygon(100% 0%,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%)
	}
	
	.arrivals_books .arrivals_book_box{
	width: 95%;
	
	height: 60vh;
	
	height: 70vh;
	
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	overflow: hidden;
	overflow-x: scroll;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card{
	width: 250px;
	height: 420px;
	text-align: center;
	padding: 5px;
	border: 1px solid #919191;
	margin: auto 20px;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card:hover{
	box-shadow: 0 0 5px #089da1;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card .arrivals_book_img img{
	width: 150px;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card .arrivals_book_tag h2{
	margin: 12px;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card .arrivals_book_tag .writer{
	color: #919191;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card .arrivals_book_tag .categories{
	color: #089da1;
	margin-top: 8px;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card .arrivals_book_tag .f_btn{
	  padding: 8px 20px;
	  border: 2px solid #089da1;
	  text-decoration: none;
	  color: #000;
	  background-color: white;
	  position:relative ;
	  top: 45px;
	}
	
	.arrivals_books .arrivals_book_box .arrivals_book_card .arrivals_book_tag .f_btn:hover{
	  background-color: #008c92;
	  
	  }
	
	
	::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	}
	
	::-webkit-scrollbar-track{
	box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
	}
	
	::-webkit-scrollbar-thumb{
	background: #089da1;
	border-radius: 10px;
	}



/*Footer*/

footer{
    width: 100%;
    background: #eaeaea;
    margin-top: 50px;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #089da1;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}

footer .end span{
    color: #089da1;
    margin-left: 10px;
}
/*footer ends*/


 
  